name: Playwright with Gost Tunnel
on: [push, workflow_dispatch]

jobs:
  run-task:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Gost
        run: |
          # 下载并直接解压到目标文件名
          curl -L https://github.com/ginuerzh/gost/releases/download/v2.11.5/gost-linux-amd64-2.11.5.gz | gunzip > gost
          chmod +x gost
          # 验证是否安装成功
          ./gost -V

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests[socks] playwright
          playwright install chromium --with-deps

      - name: Run
        env:
          SOCKS5_INFO: ${{ secrets.SOCKS5_INFO }}
        run: python main.py
